:root {
    --offWhite: 252, 252, 252;
    --mainGray: 196, 196, 196;
    --medGray: 132, 132, 132;
    --darkGray: 36, 36, 36;
}

a,
a:hover {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

body {
  background-image: url(../images/binarycircle_darkmode.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container-fluid-max {
    max-width: 1440px;
}

.cover {
    background: no-repeat center/cover;
}

.p-15 {
    padding: 15px;
}

/* header styles*/
.scroll .page-header {
    background: rgb(var(--darkGray));
}

.page-header {
    transition: background 0.5s ease-in-out;
}

.page-header .navbar {
    padding: 1rem 0;
}

.page-header .navbar-toggler {
    border-color: rgb(var(--white));
}

@media screen and (max-width: 991px) {
    .page-header {
        background: rgb(var(--darkGray));
    }
}

/* weather styles */
.weather {
  background-color: rgba(var(--mainGray), 0.8);
}

/* projects styles */
h3 {
  text-align: center;
}

iframe {
  pointer-events:none;
}

/* general styles */

p {
    font-size: 1.6rem;
}