:root {
    --offWhite: 252, 252, 252;
    --mainGray: 196, 196, 196;
    --medGray: 132, 132, 132;
    --darkGray: 36, 36, 36;
}

a,
a:hover {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

body {
  background-image: url(../images/binarycircle_darkmode.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container-fluid-max {
    max-width: 1440px;
}

.cover {
    background: no-repeat center/cover;
}

.p-15 {
    padding: 15px;
}

/* header styles*/
.h1 {
  font-size: 5rem;
}

.main-subtitle {
  font-size: 3rem;
}

.main-sub-subtitle {
  font-size: 2rem;
}

.scroll .page-header {
    background: rgb(var(--darkGray));
}

.page-header {
    transition: background 0.5s ease-in-out;
}

.page-header .navbar {
    padding: 1rem 0;
}

.page-header .navbar-toggler {
    border-color: rgb(var(--white));
}

@media screen and (max-width: 991px) {
    .page-header {
        background: rgb(var(--darkGray));
    }
}

/* weather styles */
.weather {
  background-color: rgba(var(--mainGray), 0.8);
}

/* projects and blog styles */
.featured, .blog-head{
  text-align: center;
  color:rgb(var(--offWhite));
  font-size: 4rem;
}

iframe {
  pointer-events:none;
}

.featured-apps {
  padding: 0 20px;
}

.work-item {
  position: relative;
}

.work-item .work-item-text {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;
}

.work-item:hover .work-item-text {
  display: block;
  /* height: 80%;
  width: 80%; */
}

/* Blog Styles */
/* .blog-text {

} */

/* general styles */

p {
    font-size: 1.6rem;
}